#logo {
  width: 120px;
  /* background-color: transparent; */
  /* background-color: #0ff; */
}

.top img {
  background-color: transparent;
}

.app span {
  font-size: 1rem;
}

.top {
  margin: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
}
