.limiters {
  background: #16222f;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.limiter {
  background: #16222f;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  margin: 0px 5px;
  border: 1px white solid;
}

.limiter span {
  font-size: 1.2rem;
  background-color: #16222f;
}
