.mainframe {
  background: #282b30;
  width: 97%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#url {
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
}

#run-btn {
  height: 50px;
  width: 80px;
}
