.mainframe {
  background: #121921;
  width: 97%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#url {
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
  background-color: #16222f;
  border: white 0.5px solid;
  border-radius: 10px;
}

.url-div {
  padding: 10px;
  border-radius: 10px;
  background: #16222f;
  margin: 0px 20px;
}

.url-div input {
  text-decoration: none;
}
