.auth {
  width: 20%;
  background: #16222f;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.auth:hover {
  cursor: pointer;
}

.auth img {
  width: 20px;
  background-color: #16222f;
  /* filter: invert(100%) sepia(0%) saturate(7430%) hue-rotate(223deg)
    brightness(118%) contrast(100%); */
}

.auth span {
  background-color: #16222f;
}

.dropdown {
  border: none;
  background-color: #16222f;
  width: 100%;
  height: 100%;
}

.dropdown:hover {
  cursor: pointer;
}

.dd-menu {
  position: absolute;
  top: 155px;
  left: 30px;
  background-color: #16222f;
  padding: 10px;
  border: .5px solid white;
  width: 10%;
}

.dd-menu li {
  list-style: none;
  background: #16222f;
  padding: 10px
}

.dd-menu li:hover {
  border: 1px solid rgb(1, 210, 1);
  border-radius: 10px;
}
