.request {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  background-color: #282b30;
  border-radius: 10px;
}

.request textarea {
  padding: 20px;
  background-color: #282b30;
  border-radius: 10px;
}

/* #req-var {
  margin-top: 10px;
} */

.request span {
  font-size: 1.1rem;
  background-color: #282b30;
}
