.response {
  background-color: #16222f;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 49%;
  height: 103%;
}

.response textarea {
  padding: 30px;
  background-color: #16222f;
  border-radius: 10px;
  width: 100%;
}

.response span {
  font-size: 1.1rem;
  background-color: #16222f;
  border-radius: 10px;
}
